/**
 * Variables file
 *
 * Preprocessor variables for latter use
 *
 * ---------------------
 * |--- Some File
 * ---------------------
 */

/* --- some file --- */
//@import 'some-file';

// --- colors ---

$bg-soft: #EEF;

$bg-dark: #AAA;

$font-primary: #454545;

$links: #22BAD9;
