/**
 *
 * Main file
 *
 * ---------------------
 * # Settings
 * # Tools
 * # Generic
 * # Base
 * # Objects
 * # Components
 * # Trumps
 * ---------------------
 */
/* --- Settings ------- */
/**
 * Variables file
 *
 * Preprocessor variables for latter use
 *
 * ---------------------
 * |--- Some File
 * ---------------------
 */
/* --- some file --- */
/* --- Tools ---------- */
/**
 * Tools file
 *
 * Mixins and functions
 *
 * ---------------------
 * |--- Some File
 * ---------------------
 */
/* --- some file --- */
/* --- Generic -------- */
/**
 * Generic file
 *
 * Third party CSS
 *
 * ---------------------
 * |--- Some File
 * ---------------------
 */
/* --- some file --- */
/* --- Base ----------- */
/**
 * Base styles
 *
 * Element styles, no classes nor IDs.
 * Base typography & raw elements
 *
 * ---------------------
 * |--- Header
 * |--- Footer
 * ---------------------
 */
/* --- Header ---*/
header {
  position: fixed;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  height: 80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;
  background-color: #EEF; }
  header .header {
    display: flex;
    align-items: center; }
  header .title {
    margin-left: 10px; }

.fixed-header-fix {
  margin-top: 120px;
  display: block;
  width: 100%;
  height: 0; }

/* --- Footer ---*/
footer {
  height: 50px;
  border-top: 1px solid black;
  padding-right: 20px; }
  footer .footer {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center; }

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  color: #454545;
  background-color: #EEF; }

a {
  color: #22BAD9; }
  a:hover {
    color: white;
    background-color: #22BAD9; }

.pointer {
  cursor: pointer; }

/* --- Objects -------- */
/**
 * Objects styles
 *
 * Object Oriented CSS
 * Layout driven, structural objects.
 *
 * ---------------------
 * |--- Layout
 * ---------------------
 */
/* --- some file --- */
.container {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px; }
  .container.centered {
    display: flex;
    flex-direction: column;
    align-items: center; }

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1; }

/* --- Components ----- */
/**
 * Components styles
 *
 * Cosmetic layer
 * Specific instructions.
 *
 * ---------------------
 * |--- Repos
 * |--- Icons
 * |--- SearchBar
 * ---------------------
 */
/* --- Repos --- */
.repoRow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
  padding: 5px; }
  .repoRow > * {
    margin-right: 5px; }
  .repoRow .repo-or-fork,
  .repoRow .starts {
    margin-right: 10px; }
  .repoRow .starts {
    display: flex; }
  .repoRow .lang {
    padding: 2px;
    border-radius: 2px; }

/* --- Icons --- */
.icon {
  margin: 3px; }

/* --- SearchBar --- */
.SearchBar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .SearchBar .Form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .SearchBar .Search,
  .SearchBar .Submit {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    height: 33px;
    background-color: #EEF; }
  .SearchBar .Search {
    width: 100%;
    max-width: 250px; }
  .SearchBar .Submit {
    width: 150px; }
  .SearchBar-label {
    margin: 10px; }

/* --- Trumps --------- */
/**
 * Trumps styles
 *
 * Override other styles, text alignment classes
 * Only place were !important is allowed.
 *
 * ---------------------
 * |--- Languages colors
 * ---------------------
 */
/* --- Languages colors --- */
.ags-script-lang-color {
  background: #B9D9FF; }

.antlr-lang-color {
  background: #9DC3FF; }

.apl-lang-color {
  background: #8a0707; }

.asp-lang-color {
  background: #6a40fd; }

.ats-lang-color {
  background: #1ac620; }

.actionscript-lang-color {
  background: #e3491a; }

.ada-lang-color {
  background: #02f88c; }

.agda-lang-color {
  background: #467C91; }

.alloy-lang-color {
  background: #cc5c24; }

.arc-lang-color {
  background: #ca2afe; }

.arduino-lang-color {
  background: #bd79d1; }

.aspectj-lang-color {
  background: #1957b0; }

.assembly-lang-color {
  background: #a67219; }

.autohotkey-lang-color {
  background: #6594b9; }

.autoit-lang-color {
  background: #36699B; }

.blitzmax-lang-color {
  background: #cd6400; }

.boo-lang-color {
  background: #d4bec1; }

.c-lang-color {
  background: #555; }

.c-lang-color {
  background: #178600; }

.cpp-lang-color {
  background: #f34b7d; }

.css-lang-color {
  background: #563d7c; }

.chapel-lang-color {
  background: #8dc63f; }

.cirru-lang-color {
  background: #aaaaff; }

.clean-lang-color {
  background: #3a81ad; }

.clojure-lang-color {
  background: #db5855; }

.coffeescript-lang-color {
  background: #244776; }

.coldfusion-lang-color {
  background: #ed2cd6; }

.coldfusion-cfc-lang-color {
  background: #ed2cd6; }

.common-lisp-lang-color {
  background: #3fb68b; }

.component-pascal-lang-color {
  background: #b0ce4e; }

.d-lang-color {
  background: #fcd46d; }

.dm-lang-color {
  background: #075ff1; }

.dart-lang-color {
  background: #98BAD6; }

.dogescript-lang-color {
  background: #cca760; }

.dylan-lang-color {
  background: #3ebc27; }

.e-lang-color {
  background: #ccce35; }

.ecl-lang-color {
  background: #8a1267; }

.eagle-lang-color {
  background: #3994bc; }

.eiffel-lang-color {
  background: #946d57; }

.elixir-lang-color {
  background: #6e4a7e; }

.elm-lang-color {
  background: #60B5CC; }

.emacs-lisp-lang-color {
  background: #c065db; }

.emberscript-lang-color {
  background: #f64e3e; }

.erlang-lang-color {
  background: #0faf8d; }

.f-lang-color {
  background: #b845fc; }

.flux-lang-color {
  background: #33CCFF; }

.fortran-lang-color {
  background: #4d41b1; }

.factor-lang-color {
  background: #636746; }

.fancy-lang-color {
  background: #7b9db4; }

.fantom-lang-color {
  background: #dbded5; }

.forth-lang-color {
  background: #341708; }

.frege-lang-color {
  background: #00cafe; }

.game-maker-language-lang-color {
  background: #8ad353; }

.glyph-lang-color {
  background: #e4cc98; }

.gnuplot-lang-color {
  background: #f0a9f0; }

.go-lang-color {
  background: #375eab; }

.golo-lang-color {
  background: #f6a51f; }

.gosu-lang-color {
  background: #82937f; }

.grammatical-framework-lang-color {
  background: #ff0000; }

.groovy-lang-color {
  background: #e69f56; }

.harbour-lang-color {
  background: #0e60e3; }

.haskell-lang-color {
  background: #29b544; }

.haxe-lang-color {
  background: #f7941e; }

.hy-lang-color {
  background: #7891b1; }

.idl-lang-color {
  background: #e3592c; }

.io-lang-color {
  background: #a9188d; }

.ioke-lang-color {
  background: #078193; }

.isabelle-lang-color {
  background: #fdcd00; }

.java-lang-color {
  background: #b07219; }

.javascript-lang-color {
  background: #f1e05a; }

.julia-lang-color {
  background: #a270ba; }

.krl-lang-color {
  background: #f5c800; }

.lfe-lang-color {
  background: #004200; }

.lolcode-lang-color {
  background: #cc9900; }

.lsl-lang-color {
  background: #3d9970; }

.lasso-lang-color {
  background: #2584c3; }

.latte-lang-color {
  background: #A8FF97; }

.livescript-lang-color {
  background: #499886; }

.lookml-lang-color {
  background: #652B81; }

.lua-lang-color {
  background: #fa1fa1; }

.mtml-lang-color {
  background: #0095d9; }

.mask-lang-color {
  background: #f97732; }

.matlab-lang-color {
  background: #bb92ac; }

.max-lang-color {
  background: #ce279c; }

.mercury-lang-color {
  background: #abcdef; }

.mirah-lang-color {
  background: #c7a938; }

.nemerle-lang-color {
  background: #0d3c6e; }

.netlogo-lang-color {
  background: #ff2b2b; }

.nimrod-lang-color {
  background: #37775b; }

.nit-lang-color {
  background: #0d8921; }

.nix-lang-color {
  background: #7070ff; }

.nu-lang-color {
  background: #c9df40; }

.ocaml-lang-color {
  background: #3be133; }

.objective-c-lang-color {
  background: #438eff; }

.objective-cpp-lang-color {
  background: #4886FC; }

.objective-j-lang-color {
  background: #ff0c5a; }

.omgrofl-lang-color {
  background: #cabbff; }

.opal-lang-color {
  background: #f7ede0; }

.oxygene-lang-color {
  background: #5a63a3; }

.oz-lang-color {
  background: #fcaf3e; }

.pawn-lang-color {
  background: #dbb284; }

.php-lang-color {
  background: #4F5D95; }

.pan-lang-color {
  background: #cc0000; }

.papyrus-lang-color {
  background: #6600cc; }

.parrot-lang-color {
  background: #f3ca0a; }

.pascal-lang-color {
  background: #b0ce4e; }

.perl-lang-color {
  background: #0298c3; }

.perl6-lang-color {
  background: #0298c3; }

.piglatin-lang-color {
  background: #fcd7de; }

.pike-lang-color {
  background: #066ab2; }

.pogoscript-lang-color {
  background: #d80074; }

.processing-lang-color {
  background: #2779ab; }

.prolog-lang-color {
  background: #74283c; }

.propeller-spin-lang-color {
  background: #2b446d; }

.puppet-lang-color {
  background: #cc5555; }

.pure-data-lang-color {
  background: #91de79; }

.purebasic-lang-color {
  background: #5a6986; }

.purescript-lang-color {
  background: #bcdc53; }

.python-lang-color {
  background: #3581ba; }

.qml-lang-color {
  background: #44a51c; }

.r-lang-color {
  background: #198ce7; }

.raml-lang-color {
  background: #77d9fb; }

.racket-lang-color {
  background: #ae17ff; }

.ragel-in-ruby-host-lang-color {
  background: #ff9c2e; }

.rebol-lang-color {
  background: #358a5b; }

.red-lang-color {
  background: #ee0000; }

.rouge-lang-color {
  background: #cc0088; }

.ruby-lang-color {
  background: #701516; }

.rust-lang-color {
  background: #dea584; }

.sas-lang-color {
  background: #1E90FF; }

.sqf-lang-color {
  background: #FFCB1F; }

.scala-lang-color {
  background: #7dd3b0; }

.scheme-lang-color {
  background: #1e4aec; }

.self-lang-color {
  background: #0579aa; }

.shell-lang-color {
  background: #89e051; }

.shen-lang-color {
  background: #120F14; }

.slash-lang-color {
  background: #007eff; }

.slim-lang-color {
  background: #ff8877; }

.smalltalk-lang-color {
  background: #596706; }

.sourcepawn-lang-color {
  background: #f69e1d; }

.standard-ml-lang-color {
  background: #dc566d; }

.supercollider-lang-color {
  background: #46390b; }

.swift-lang-color {
  background: #ffac45; }

.systemverilog-lang-color {
  background: #343761; }

.tcl-lang-color {
  background: #e4cc98; }

.tex-lang-color {
  background: #3D6117; }

.turing-lang-color {
  background: #45f715; }

.typescript-lang-color {
  background: #31859c; }

.unified-parallel-c-lang-color {
  background: #755223; }

.unrealscript-lang-color {
  background: #a54c4d; }

.vcl-lang-color {
  background: #0298c3; }

.vhdl-lang-color {
  background: #543978; }

.vala-lang-color {
  background: #ee7d06; }

.verilog-lang-color {
  background: #848bf3; }

.viml-lang-color {
  background: #199c4b; }

.visual-basic-lang-color {
  background: #945db7; }

.volt-lang-color {
  background: #0098db; }

.xquery-lang-color {
  background: #2700e2; }

.zephir-lang-color {
  background: #118f9e; }

.edn-lang-color {
  background: #db5855; }

.nesc-lang-color {
  background: #ffce3b; }

.ooc-lang-color {
  background: #b0b77e; }

.wisp-lang-color {
  background: #7582D1; }

.xbase-lang-color {
  background: #3a4040; }

.no-style-link:hover {
  background: none; }
